.container {
    height: calc(100vh - 150px);
}

.mat {
    display: grid;
    padding: 10%;
    padding-left: 30%;
    padding-right: 30%;
}

.button {
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
}